:root{
    --black-side-color: rgb(173, 103, 81);
    --white-side-color: rgb(255, 234, 220);
    --side-bar-color: rgb(131, 42, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #dbdbdb;
    font-family: monospace;
    font-weight: 800;
}

main {
    margin: auto 20% auto 20%;
    max-width: 670px;
}

.coordinate {
    width: 670px;
    height: 670px;
    font-size: 1.5rem;
    /* border: 3px solid red; */
    display: grid;
    grid-template-areas: 
    ". letter1 ."
    "number1 board number2"
    ". letter2 .";
    grid-gap:0 0;
    color: rgb(255, 255, 255);
    background-color: var(--side-bar-color);
    border-radius: 20px;
}

.board {
    background-color: var(--black-side-color);
    border: 5px solid black;
    width: 610px;
    height: 610px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-area: board;
}

.square {
    height: 75px;
    width: 75px;
}

.black {
    background-color: var(--black-side-color);
}

.white{ 
    background-color: var(--white-side-color);
}

.rankLegend-left,
.rankLegend-right {
    height: 610px;
    width: 25px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid orangered; */
    text-align: center;
    background-color: inherit;
}

.fileLegend-top,
.fileLegend-bottom
{
    width: 610px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid blue; */
    background-color: inherit;
}


.rankLegend-left {
    grid-area: number1;
}
.rankLegend-right {
    grid-area: number2;
}
.fileLegend-top {
    grid-area: letter1;
}
.fileLegend-bottom {
    grid-area: letter2;
}
.sidebar {
    background-color: inherit;
}